.form-container__heading {
    padding: 100px;
    color: $heading;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    background-image: url('/NYTrees/assets/images/x-mas-lights.jpg');
    background-color: green;
}

.form-container__heading_recycle {
        background-image: url('/NYTrees/assets/images/background-img2.jpg');
        background-color: green;
        background-repeat: no-repeat;
        background-size:cover;
    }

@media screen and (max-width: $tablet-width) {
    .form-container__heading {
        padding: 80px 20px;
        font-size: 50px;
    }
}