@import '../../variables.scss';
.wrapper{
    display: flex;
}
.first-page{
    display: flex;
}
.first-page__background_wrapper{
    display: flex;
    width: 100vw;
}
.first-page__background{
    width:100%;
    height:100%;
    z-index: 10;
}
h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: $top-font;
    font-size: 2em;
    color: green;
    z-index: 100;
    border: 2px solid red;
}