button{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    margin-left: -17%;
    margin-top: 10%;
    list-style-type: none;
    width: 30rem;
    height: 8rem;
    background-color: #c6d1da;
    border-color: #23216e;
    border-radius: 41%;
    z-index: 200;
}
.wrapper{
    display: flex;
}
.first-page{
    display: flex;
}
.first-page__background_wrapper_mobile, .first-page__text_title-mobile{
    display: none;
}
/* .first-page__background{
   width:100%;
    height:100%;
    z-index: 10;}*/

    .first-page__background_wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url(../images/NYBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100rem;
        height: 100rem;
        z-index: -100;
    }
    
    .first-page__text_title {
        display: flex;
        align-items: flex-start;
        margin-top: 25%;
        font-family: "Montserrat", sans-serif;
        font-size: 4em;
        color: #7d0101;
        text-shadow: 3px 3px 3px #05da68;
        box-shadow: #23216e;
        z-index: 200;
        line-height: 150%;
        /* border: 2px solid red; */
    }
   
    .first-page__button {
        display: flex;
        z-index: 300;
        margin-top: 95%;
        margin-left: 1%;
        font-size: 2.25rem;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 3em; 
        border-radius: 3px / 100%;
        color: forestgreen;
        text-shadow: 3px 3px 3px darkred;
        box-shadow: #23216e;
        z-index:200;}
    
    .first-page__button_wrapper{
    display: flex;
    margin-top: 15%;
    margin-left: -30%;
    z-index: 200;
    }
    .first-page__why-we{
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 3em;
        border-radius: 3px / 100%;
        color: #a8b8c5;
        text-shadow: 3px 3px 3px #23216e;
        box-shadow: #23216e;
        z-index: 200;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: -17%;
        margin-top: 5%;
    }

    .first-page__why-to-choose-us{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    border-radius: 3px / 100%;
    color: #a8b8c5;
    text-shadow: 4px 4px 4px #23216e;
    box-shadow: #23216e;
    z-index: 200;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-left: -12%;
}
    button:hover{
        background-color: #7d0101;
        cursor: pointer;
    }
   a.first-page__button:hover {
        transition: .5s linear;
        color: green;
        cursor: pointer;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
      }
      a.first-page__button:active {
        top: 1px;
      }
@media screen and (max-width: 480px) {
    .first-page__background_wrapper, .first-page__text_title{
        display: none;
    }
    .first-page__background_wrapper_mobile{
        display: flex;
        background-image: url(../images/NYBackgroundMobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100em;
        height: 100em;
        margin-left: 30%;
        z-index: -100;    
    }

    .first-page__text_title-mobile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -460%;
        margin-top: 200%;
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 2.3em;
        color: rgb(85, 5, 17);
        z-index: 100;
    }
}