button{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    margin-left: -17%;
    margin-top: 10%;
    list-style-type: none;
    width: 18rem;
    height: 4rem;
    background-color: #c6d1da;
    border-color: whitesmoke;
    border-radius: 41%;
    z-index: 200;
}
.wrapper{
    display: flex;
    
    background-repeat: no-repeat;
    background-size: cover;

}
.first-page{
    display: flex;
}
.first-page__background_wrapper_mobile, .first-page__text_title-mobile{
    display: none;
}
.first-page{
    background-image: url(../images/99px_ru_wallpaper_277786_novogodnie_vetochki_elki_s_dekorativnimi_snejinkami_mandarini_i.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: -9%;;
    z-index: -100;}

.first-page__background_wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100rem;
        height: 100rem;
        z-index: 0;
    }
    
    .first-page__text_title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 4%;
        margin-left:-2%;
        margin-right:37%;
        font-family: "Montserrat", sans-serif;
        font-size: 3em;
        color: #d56c2b;
        text-shadow: 3px 3px 3px darkgreen;
        box-shadow: #798c9b;
        z-index: 300;
        line-height: 150%;
        /* border: 2px solid red; */
    }
    .first-page__button {
        display: flex;
        z-index: 300;
        margin-bottom: 6%;
        margin-left: 2%;
        font-size: 2rem;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.8em; 
        font-weight:700;
        text-align: center;
        border-radius: 3px / 100%;
        color: forestgreen;
        text-shadow: 3px 3px 3px whitesmoke;
        box-shadow: #23216e;}
    
    .first-page__button_wrapper{
    display: flex;
    margin-top: 17%;
    margin-left: -130%;
    z-index: 200;
    }
    .first-page__why-we{
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 2em;
        border-radius: 3px / 100%;
        color: whitesmoke;
        text-shadow: 3px 3px 3px #798c9b;
        box-shadow: #23216e;
        z-index: 200;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 30%;
        margin-top:-130%;
    }

    .first-page__why-to-choose-us{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    border-radius: 3px / 100%;
    color: whitesmoke;
    text-shadow: 4px 4px 4px #798c9b;
    box-shadow: #23216e;
    z-index: 200;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 5%;
}
    button:hover{
        background-color: #d56c2b;
        cursor: pointer;
    }
    a.first-page__button:hover {
        transition: .5s linear;
        color: green;
        cursor: pointer;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    }
    a.first-page__button:active {
        top: 1px;
    }
@media screen and (max-width: 480px) {
    button{
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        list-style-type: none;
        width: 8rem;
        height: 3rem;
        background-color: #c6d1da;
        border-color: whitesmoke;
        border-radius: 41%;
        z-index: 300;
    }
    .first-page__background_wrapper, .first-page__text_title{
        display: none;
    }
    .first-page{
        display: flex;
        background-image: url(../images/NYBackground.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 63%;
        z-index: -100;    
    }

    .first-page__text_title-mobile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -29%;
        margin-right: 19%;
        margin-bottom: 9%;
        padding-right: 55%;
        padding-left: 30%;
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 1.35em;
        color: #d56c2b;
        text-shadow: 3px 3px 3px darkgreen;
        box-shadow: #798c9b;
        z-index: 300;
        line-height: 150%;
        z-index: 10;
    }
    .first-page__button {
        display: flex;
        z-index: 300;
        margin-bottom: 0%;
        margin-left: 0%;
        font-size: 2rem;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1em; 
        font-weight:700;
        text-align: center;
        border-radius: 3px / 100%;
        color: darkgreen;
        text-shadow: 3px 3px 3px whitesmoke;
        box-shadow: #23216e;}
    
    .first-page__button_wrapper{
    display: flex;
    justify-content:flex-end;
    margin-top: 55%;
    margin-right: -50%;
    margin-bottom: 10%;
    z-index: 200;
    }
    .first-page__why-we{
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5em;
        border-radius: 3px / 100%;
        color: darkgreen;
        text-shadow: 3px 3px 3px #798c9b;
        box-shadow: #23216e;
        z-index: 200;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 3%;
        margin-top:-50%;
    }

    .first-page__why-to-choose-us{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    border-radius: 3px / 100%;
    color: darkgreen;
    text-shadow: 4px 4px 4px #798c9b;
    box-shadow: #23216e;
    z-index: 200;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 7%;
    margin-left: 0%;
    padding-right: 7%;
}
    button:hover{
        background-color: #d56c2b;
        cursor: pointer;
    }
    a.first-page__button:hover {
        transition: .5s linear;
        color: green;
        cursor: pointer;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    }
    a.first-page__button:active {
        top: 1px;
    }
}
    @media screen and (min-width: 481px) and (max-width: 768px) {
        button{
            display: flex;
            justify-content: flex-start;
            align-items:flex-end;
            margin-left: 0%;
            margin-top: 90%;
            list-style-type: none;
            width: 10rem;
            height: 3.5rem;
            background-color: #c6d1da;
            border-color: whitesmoke;
            border-radius: 41%;
            z-index: 300;
        }
        .first-page__background_wrapper, .first-page__text_title{
            display: none;
        }
        .first-page{
            display: flex;
            background-image: url(../images/NYBackground.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            margin-bottom: 63%;
            z-index: -100;    
        }
    
        .first-page__text_title-mobile{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: -19%;
            margin-bottom: 7%;
            padding-right: 55%;
            padding-left: 30%;
            display: flex;
            font-family: "Montserrat", sans-serif;
            font-size: 1.5em;
            color: #d56c2b;
            text-shadow: 3px 3px 3px darkgreen;
            box-shadow: #798c9b;
            z-index: 300;
            line-height: 150%;
            z-index: 10;
        }
        .first-page__button {
            display: flex;
            z-index: 300;
            margin-bottom: 0%;
            margin-left: 0%;
            font-size: 2rem;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-size: 1.3em; 
            font-weight:700;
            text-align: center;
            border-radius: 3px / 100%;
            color: darkgreen;
            text-shadow: 3px 3px 3px whitesmoke;
            box-shadow: #23216e;}
        
        .first-page__button_wrapper{
        display: flex;
        margin-top: 27%;
        margin-left:-90%;
        z-index: 200;
        }
        .first-page__why-we{
            display: flex;
            font-family: "Montserrat", sans-serif;
            font-size: 1.5em;
            border-radius: 3px / 100%;
            color: darkgreen;
            text-shadow: 3px 3px 3px #798c9b;
            box-shadow: #23216e;
            z-index: 200;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-left: 10%;
            margin-top:-50%;
        }
    
        .first-page__why-to-choose-us{
        list-style-type: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        border-radius: 3px / 100%;
        color: darkgreen;
        text-shadow: 4px 4px 4px #798c9b;
        box-shadow: #23216e;
        z-index: 200;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-right: 0%;
        margin-left: 5%;
    }
        button:hover{
            background-color: #d56c2b;
            cursor: pointer;
        }
        a.first-page__button:hover {
            transition: .5s linear;
            color: green;
            cursor: pointer;
            background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
        }
        a.first-page__button:active {
            top: 1px;
        }
      }